
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h2>Quản lý khóa học, giảng viên</h2>
<div class="cardBox">
    <div class="card">
        <div>
            <div class="number">47</div>
            <div class="cardName">Số giảng viên</div>
        </div>
        <div class="iconBx">
            <ion-icon name="create-outline"></ion-icon>
        </div>
    </div>
   
    <div class="card">
        <div>
            <div class="number">24</div>
            <div class="cardName">Các khóa học</div>
        </div>
        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="number">7,842</div>
            <div class="cardName">Số lượng sinh viên</div>
        </div>
        <div class="iconBx">
            <ion-icon name="people-outline"></ion-icon>
        </div>
    </div>
</div>
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Thông tin khóa học</h2>
            <a href="#" class="btn">Xem tất cả</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Tên khóa học</td>
                    <td>Học phí</td>
                    <td>Năm học</td>
                    <td>Trạng thái</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Khóa học lập trình c#</td>
                    <td>800000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học Bảo đảm chất lượng phần mềm</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-hoanthanh">Đã hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Khóa học Tin học đại cương</td>
                    <td>900000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học cơ sở dữ liệu</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-sapmo">Sắp mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học Thương mại điện tử</td>
                    <td>800000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình Python</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-hoanthanh">Đã hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình thiết bị di động nâng cao</td>
                    <td>900000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học Đại số Tuyến tính</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-sapmo">Sắp mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình Python nâng cao</td>
                    <td>800000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học kiểm thử chất lượng phần mềm</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-hoanthanh">Đã hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình Web cơ bản</td>
                    <td>900000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình thiết bị di động</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-sapmo">Sắp mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình C++</td>
                    <td>900000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình Web nâng cao</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-hoanthanh">Đã hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Khóa học lập trình Java Script</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-sapmo">Sắp mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học An ninh mạng</td>
                    <td>900000/TC</td>
                    <td>2022</td>
                    <td><span class="status-dangmo">Đang mở lớp</span></td>
                </tr>
                <tr>
                    <td>Khóa học Hệ thống thông tin</td>
                    <td>700000/TC</td>
                    <td>2021</td>
                    <td><span class="status-hoanthanh">Đã hoàn thành</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- New Customers -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Đang truy cập...</h2>
        </div>
        <table>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/rose.jpg"></div></td>
                <td><h4>Dnhuu<br><span>Quản Trị Viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/yoona.jpg"></div></td>
                <td><h4>Vian<br><span>Giảng viên </span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/ahnhyoseop.jpg"></div></td>
                <td><h4>Quốc Tú<br><span>Giảng Viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/jhope.jpg"></div></td>
                <td><h4>Anu<br><span>Giảng viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/v.jpg"></div></td>
                <td><h4>Uyên Kai<br><span>Giảng Viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/dew.jpg"></div></td>
                <td><h4>Hồng Mỹ<br><span>Giảng Viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/songkang.jpg"></div></td>
                <td><h4>Duong Nhu<br><span>Giảng Viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/njh.png"></div></td>
                <td><h4>Duy Khang<br><span>Giảng Viên</span></h4></td>
            </tr>          
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/Admin/image/sehun.png"></div></td>
                <td><h4>Hauhunnie<br><span>Quản Trị Viên</span></h4></td>
            </tr>
        </table>
    </div>
</div>
